.showPage-left {
    position: absolute;
    top: 90px;
    left: 109px;
}

.pica-container {
    background: #FFFFFF;
    box-shadow: 0 12px 50px 0 rgba(31,53,62,0.10);
    border-radius: 20px;
    width: 507px !important;
    height: 619px !important;
}

.pica-image-l1 {
    width: 372px;
    height: 231px;
    position: absolute;
    top: 115px;
    left: 68px;
}

.pica-name {
    font-family: BigCaslon-Medium;
    font-size: 58px;
    color: #111111;
    letter-spacing: 2.42px;
    position: absolute;
    top: 410px;
    left: 196.5px;
}

.pica-description {
    opacity: 0.6;
    font-family: BigCaslon-Medium;
    font-size: 14px;
    color: #111111;
    letter-spacing: 0.2px;
    line-height: 19px;
    text-align: center;
    position: absolute;
    top: 506px;
    left: 166px;
}

.showPage-right {
    position: absolute;
    top: 90px;
    left: 725px;
    width: 100%;
    height: 100%;
}

.showPage-all-signed-up {
    font-family: BigCaslon-Medium;
    font-size: 55px;
    color: #3C3C3C;
    position: relative;
    top: 120px;
}

.showPage-you-got-pica {
    font-family: BigCaslon-Medium;
    font-size: 16px;
    color: #3C3C3C;
    position: relative;
    top: 180px;
}

.showPage-donation {
    font-family: BigCaslon-Medium;
    font-size: 16px;
    color: #3C3C3C;
    position: relative;
    top: 240px;
    width: 450px;
}

.showPage-button-group {
    position: relative;
    top: 260px;
}

.showPage-make-donation-button {
    border: 2px solid #00B5AD;
    border-radius: 4px;
    width: 142px;
    height: 36px;
    font-family: BigCaslon-Medium;
    font-size: 14px;
    color: #00B5AD;
    cursor:pointer;
}

.showPage-maybe-next-time-button {
    border: 1px solid #E0E1E2;
    border-radius: 4px;
    width: 142px;
    height: 36px;
    margin-left: 12px;
    font-family: BigCaslon-Medium;
    font-size: 14px;
    color: rgba(0,0,0,0.60);
    cursor:pointer;
}

.website-header {
    text-align: center;
    margin: 10px !important;
}

#__next > div > div > div.ui.header.website-header > img {
    height: 40px;
    width: auto;
}

.website-header .content {
    font-family: BigCaslon-Medium;
    font-size: 30px;
    color: #494949;
    margin-left: 10px;
}

.homePage-demo-button {
    margin-right: 15px;
}

.anniversary-left-panel {
    background: #FFFFFF;
    box-shadow: 0 6px 25px 0 rgba(31,53,62,0.10);
    border-radius: 10px;
    width: 253px;
    height: 309px;
    position: absolute;
    top: 150px;
    left: 250px;
}

.anniversary-right-panel {
    position: absolute;
    top: 90px;
    left: 750px;
    height: 100%;
    width: 500px;
}
.anniversary-pica-image-l1 {
    width: 186px;
    height: 115px;
    position: absolute;
    top: 57px;
    left: 34px;
}

.anniversary-pica-name {
    font-family: BigCaslon-Medium;
    font-size: 40px;
    color: #111111;
    letter-spacing: 2.42px;
    position: relative;
    top: 96px;
    left: 79px;
}
